body{margin:0; padding:0;}

div.mygrid{
  min-height:100vh;
  display:grid;
  grid-template-colums: 1fr 1fr;
  grid-gap:20px;
}

img.myimg{
  display:block;
  width:80%;
  height:80%;
  background-color: #eee;
  object-fit: contain;
  align-self:center;
  justify-self:center;
}

div.rtf{
  width:80%;
  max-width:60ch;
  background-color: #eee;
  align-self:center;
  justify-self:center;
  padding:3em;
}
