html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table{border-collapse: collapse; border-spacing: 0;}



body{background-color: #44C5D5; margin:0; padding:0;}

div.mainframe{max-width:960px; margin:0 auto;}
div.slide{min-height:100vh;padding:1px;}
      body.rtf{
        font-family:'Verdana','Helvetica','Roboto',sans-serif;
              font-size:1em;
      }

      body.rtf h1{
        font-size:4em;
        line-height:1.4em;
        font-weight: bold;
        margin:0 0 1.4em 0;
      }

								h1.chickflypants{
					        font-size:4em;
					        font-family:Verdana;
									margin:0 auto;

					      }

      body.rtf h2{
        font-size:2em;
        line-height:1.4em;
        font-weight: bold;
        margin:0 0 .75em 0;
      }

							h2.textcenter{
								text-align: center;
								padding-top:40px;
							}

							h2.freedomtogo{
				        color:#000;
				        padding-top:375px;

				      }

      body.rtf h3{
        font-size:1.2em;
        line-height:1.4em;
        margin:0 0 1.4em 0;
      }

							h3.testheader{
								font-weight: bold;
								min-height: 60px;
							}

      body.rtf h5{
        font-size:1em;
        line-height:1.4em;
        margin:0 0 1.8em 0;
      }

      body.rtf p{
        font-size:1em;
        line-height:1.4em;
        margin:0 0 1em 0;
      }

							p.testparagraph{
								font-style: italic;
								min-height: 60px;
								text-align:left;
							}

      div.topimg-txt{
        position:relative;
        color:#fff;
        text-align: center;
      }

      div.secondslidetxt{
        position:relative;
        color:#000;
        text-align: center;
      }

      div.secondslidetxt h2{
        font-size:2em;
        font-family:Verdana;
        font-weight: bold;
        margin: auto;
      }

      div.secondslidetxt p{
        font-size:1em;
        font-family:Verdana;
        font-weight:normal;
        margin:10px;

      }

    div.topimg{
      text-align:center;
      background-repeat:no-repeat;
      background-position: top center;
      background-size:cover;
    }

    img.logoimg{
      width:10%;
			padding:20px;

    }

    div.secondimg{
      text-align:center;
      background-repeat:no-repeat;
      background-position: top center;
      background-size:cover;
    }

    img.img-txtholder{
      width:100%;
    }

		img.testimonalpic{
				width:min(max(20vw,100px),200px); height:min(max(20vw,100px),200px);
        object-fit:cover;
        object-position:top center;
        border-radius:50%;
				padding-bottom: 20px;
				margin: 0 auto;
      }

			img.whitejacket{
				padding-top:30px;
				width:100%;
				object-fit: cover;
			}

div.button{
	text-align:center;
}

div.button a{

      display:inline-block;
      margin-top:1em;
			margin-bottom:2em;
			margin-left:auto;
			margin-right:auto;
      position: relative;

      text-decoration: none;
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
      font-family:Verdana;
      font-weight:bold;
 			color:#000;
      background-color:white;
      border-radius:10px;
      padding:15px 20px;
}

div.button:hover a{
	background-color:DarkSlateGrey;
	color:white;
}

div.button:active a{
	position:relative;
	top:1px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

div.button2 a{
      margin-top:45em;
}

div.button-blue{
	text-align:left;
}

div.button-blue a{
  background:#8ED5E5;
}

div.txtholder{
  max-width: 80%;
  min-height:30vh;
  height:80%;
  margin:20px auto 40px auto;
  padding:20px;

  background:#8ED5E5;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.38);
}

div.txtholder-white{
  background:#fff;
}

div.skinny{
  max-width: 40%;
}

div.cardholder{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:10px;
}

div.card{
	background:#8ED5E5;

	padding:20px;
	text-align:center;
}

div.leftcard{
	padding-left: 40px;
}

div.rightcard{
	padding-right: 40px;
}

div.bottom{
	object-position: bottom;
}

div.grid2col{
        display:grid;
        grid-template-columns:1.5fr 1fr;
        grid-gap:20px;
      }
.textspace{
	justify-self: center;
	align-self: center;
}
div.lightblue{background:#8ED5E5;}
div.white{background:white;}
